.login-container {
    width: 35%;
    margin: 0 auto;
}
.login-paper {
	padding: 5%;
}
.login-paper > div > div {
    width: 75% !important;
}
.form-header {
	font-size: 1.5em;
    font-family: sans-serif;
    color: #00bcd4;
    text-decoration: underline;
}